*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html,
body{
    height: 100%;
    width: 100%;
    background-color: black;
}

.main-container{
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    /* background-color: rgba(219, 243, 111, 0.932); */
    /* background: url(./barley-field.jpg); */

background: rgb(170, 245, 97);
    background: linear-gradient(53deg, rgba(170, 245, 97, 0.9948354341736695) 0%, rgba(251, 230, 61, 1) 100%);
}

.carousel-container{
    /* border: 1px solid red; */
    position: relative;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 80%;
    width: 100%;
    /* overflow: hidden; */
}

.nav-dots-div{
    /* border: 3px solid blue; */
    /* width: 100px; */
    height: 50px;
    position: absolute;
    bottom: 10px;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    gap: 20px;
}

.nav-dots{
    width: 120px;
    height: 5px;
    background-color: rgb(185, 185, 185);
    border-radius: 10%;
    transition: all 0.3s ease-in-out;
    /* border: 2px solid rgba(0, 0, 0, 0.226); */
    /* box-shadow: 65px 38px 98px -30px rgba(248, 248, 248, 0.404) inset; */
    cursor: pointer;
}


.nav-dots:hover{
    width: 120px;
    height: 10px;
}

.dot-active{
    transition: all 0.3s ease-in-out;
    background-color: rgb(255, 255, 255);
}

.left-arrow,
.right-arrow{
    position: absolute;
    color: white;
    width: 150px;
    height: 100%;
    /* border: 2px solid blue; */
    /* text-align: center; */
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    
}

.left-arrow:hover,
.right-arrow:hover {
    transition: all 0.3s ease-in-out;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.349);
}




.left-arrow{
    justify-self: start;
    z-index: 1;
    /* left: 20px; */
    /* background-color: sandybrown; */
}

.right-arrow{
    justify-self: end;
    z-index: 1;
    /* right: 20px; */
    /* background-color: coral; */
}

.chevron-left,
.chevron-right{
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
}





.chevron-left > img,
.chevron-right > img {
    width: 100%;

}

.image-container{
    display: grid;
   grid-auto-flow: column;
   height: 100%;
   width: 100%;
   /* border: 2px solid fuchsia; */
   position: relative;
   justify-items: center;
}

.inner-img-container{

    position: absolute;

    height: 100%;
    width: 0%;
    transition: all 1s ease-in-out;

    overflow: hidden;
    justify-self: start;
}

.shrink-right{
    width: 0%;
    justify-self: end;
    transition: all 1s ease-in-out;
}


.shrink-left {
    width: 0%;
    justify-self: start;
    transition: all 1s ease-in-out;
}

.grow-right{

    width: 100%;
    justify-self: end;
    transition: all 1s ease-in-out;

}

.grow-left{

    width: 100%;
    justify-self: start;
    transition: all 1s ease-in-out;

}



.inner-img-container img{

   object-fit: cover;
   /* width: 100%; */
   height: 100%;
   /* width: 100%; */
   /* justify-self: center; */
   display: block;
   margin: auto;
   border-radius: 10px;
/* box-shadow: -5px 4px 45px 38px rgba(0, 0, 0, 0.75); */
  

}